<div class="container-fluid main-page">
   <div class="box-form">
      <div class="left">
         <div class="overlay">
            <h1>Hospital Management System.</h1>
            <p>
               Our Hospital management systems allows You the ability to optimize and digitize all the processes within the
               Hospital, which will help to improve customer service, reduce process costs, streamline the search of
               medical records, bills, patients, doctors, etc.; thus, having a database of each module implemented
            </p>

         </div>
      </div>

      <div class="right">
         <h5 class="Login-text">Login</h5>
         <form [formGroup]="loginForm">
            <div class="inputs">
               <input type="text" formControlName="userName" placeholder="username" />
               <br />
               <input type="password" formControlName="pasword" placeholder="password" />
            </div>
         </form>
         <br /><br />
         <div class="remember-me--forget-password">
            <p>forget password?</p>
         </div>
         <br />
         <button (click)="submit()">Login </button>
      </div>
   </div>
</div>