<header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <a href="/" class="logo logo-dark">
                    <span class="logo-sm">
                        <span style="font-size: xx-large">&#8712;&#914;</span>
                    </span>
                    <span class="logo-lg">

                        <span style="font-size: large">&#8712;ccount&#914;ook <sup>Cloud ERP</sup></span>
                    </span>
                </a>

                <a href="/" class="logo logo-light">
                    <span class="logo-sm">

                        <span style="font-size: x-large; color: #fff">&#8712;&#914;</span>
                    </span>
                    <span class="logo-lg">
                        <span style="font-size: large; color: #fff">&#8712;ccount&#914;ook <sup>Cloud ERP</sup></span>
                    </span>
                </a>
            </div>

            <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect" id="vertical-menu-btn">
                <i class="ri-menu-2-line align-middle"></i>
            </button>

            <!-- App Search-->
            <form class="app-search d-none d-lg-block">
                <div class="position-relative">
                    <input type="text" class="form-control" placeholder="Search" />
                    <span class="ri-search-line"></span>
                </div>
            </form>
        </div>

        <div class="d-flex">
            <div class="dropdown d-inline-block d-lg-none ml-2" ngbDropdown>
                <button type="button" ngbDropdownToggle class="btn header-item noti-icon waves-effect"
                    id="page-header-search-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="ri-search-line"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right p-0"
                    aria-labelledby="page-header-search-dropdown" ngbDropdownMenu>
                    <form class="p-3">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search ..." />
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="ri-search-line"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- <div class="dropdown d-inline-block" ngbDropdown>
          <button type="button" class="btn header-item" id="page-header-user-dropdown" ngbDropdownToggle>
            <img *ngIf="flagvalue !== undefined" src="{{ flagvalue }}" alt="Header Language" height="16" />
            <span class="ml-1">{{ countryName }}</span>
            <img *ngIf="flagvalue === undefined" src="{{ valueset }}" alt="Header Language" height="16" />
            <span *ngIf="flagvalue === undefined" class="ml-1">English</span>
          </button>
          <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
            <a href="javascript:void(0);" class="dropdown-item notify-item" *ngFor="let item of listLang"
              (click)="setLanguage(item.text, item.lang, item.flag)" [ngClass]="{ active: cookieValue === item.lang }">
              <img src="{{ item.flag }}" alt="user-image" class="mr-1" height="12" />
              <span class="align-middle">{{ item.text }}</span>
            </a>
          </div>
        </div> -->

            <div class="dropdown d-none d-lg-inline-block ml-1">
                <button type="button" class="btn header-item noti-icon waves-effect" (click)="fullscreen()">
                    <i class="ri-fullscreen-line"></i>
                </button>
            </div>

            <div class="dropdown d-inline-block" ngbDropdown>
            </div>
            <div class="d-flex d-inline-block">
                <button class="btn header-item">
                    <i class="fas fa-wifi" id="wifi-icon" style="color:#00e000"></i> </button>
            </div>
            <div class="dropdown d-inline-block user-dropdown" ngbDropdown>
                <button type="button" ngbDropdownToggle class="btn header-item waves-effect"
                    id="page-header-user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="d-none d-xl-inline-block ml-1">User Name</span>
                    <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                </button>

                <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                    <a class="dropdown-item text-warning" href="javascript: void(0)" (click)="resetPassword()">
                        <i class="ri-key-2-line align-middle mr-1 text-warning"></i> Reset Password
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" href="javascript: void(0);" (click)="logout()">
                        <i class="ri-shut-down-line align-middle mr-1 text-danger"></i>Logout</a>
                </div>
            </div>

        </div>
    </div>
</header>