@import "./../../shared/shared_scss_varables.scss";

.main-top {
  background-color: $themeBackgroundColor;
  color: $text_color_on_Background;
  padding: 15px;
}

.logo{
  height: 40px;
  width: 200px;
  background-color: green;
  background-image: url("./../../../assets/images/download.png");
  background-size: cover;
}

.search {
  display: 100%;
  .input {
    input{
      border-radius:5px;
      &:focus{
        outline: none;
        background-color: beige;
      }
    }
    input[type=text]{
      width: 100%;
      padding: 5px 10px;
      border: none;
      box-sizing: border-box;
    }
  }
}

.Icons{
  color: white;
  font-size: 27px;
  margin-top: -5px;
  padding-right: 20px;
  cursor: pointer;
}

.user-area{
  margin-top: -4px;
  button{
    background-color: transparent;
    outline: none;
    border: none;
  }
}

