@import "./../../shared/shared_scss_varables.scss";

.main-top {
  background-color: $themeBackgroundColor;
  color: $text_color_on_Background;
}
.search {
  .input {
    // background-color;
    .search-input{
      background-color: aqua;
    }
  }
}
