<div class="row">
  <div class="col-md-12">
    <div class="main-top d-flex flex-wrap  align-items-center">
      <div class="logo">
        <img class="zero-margin-padding py-2" src="./../../../assets/images/download.png" height="50" width="200"
          alt="HMS Logo">
      </div>
      <div class="search">
        <div class="inout">
          <input type="text" name="search" id="search">
          <label for="search">Search</label>
        </div>
      </div>
      asdfasdf asd f this is top bar component
    </div>
  </div>
</div>