<div class="top-bar">
  <div class="row">
    <div class="col-md-12 w-100">
      <div class="main-top d-flex flex-wrap justify-content-between  align-items-center">
        <div class="logo">
          <img class="zero-margin-padding py-2" src="./../../../assets/images/download.png" height="50" width="200"
            alt="HMS Logo">
        </div>
        <div class="d-flex">
          <div class="search px-4">
            <div class="input">
              <label for="search"> </label>
              <input class="search-input" type="text" name="search" id="search" placeholder="Search..">
            </div>
          </div>
          <div class="">
            <!-- <img src="./../../../assets/images/659651.svg" width="40" height="40" alt=""> -->
            <i class="fa-solid fa-user">asdfadsfhh</i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>