<div class="top-bar">
  <div class="row">
    <div class="col-md-12 w-100">
      <div class="main-top d-flex flex-wrap justify-content-between  align-items-center">
        <div class="logo">

        </div>
        <div class="d-flex">
          <div class="search px-4">
            <div class="input">
              <label for="search"> </label>
              <input class="search-input" type="text" name="search" id="search" placeholder="Search..">
            </div>
          </div>
          <div class="dropdown user-area">
            <a  class="Icons" type="text" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item cursor-pointer" >View info</a>
              <a class="dropdown-item cursor-pointer" (click)="logOut()"> Logout</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>